<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CWJS_24_1</title>
    <link rel="stylesheet" href="css/styleCWJS_24_1.css">
    <!-- <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script> -->

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <!-- <script src="js/tmpl.js"></script> -->
    <script src="js/scriptCWJS_24_1.js"></script>
</head>
<body>
    
    <!-- <script type="text/html" id="wrapper-template"> -->
    
        <div class="wrapper">
            <ul class="item-list"></ul>
            <div class="controlls">
                <input type="text" class="item-value">
                <button class="item-add">Add</button>
            </div>
        </div>
        
    
    <!-- </script> -->
    
    <!-- <script type="text/html" id="list-template">
        
        <% for (var i = 0; i < data.length; i++) { %>
            <li><%= data[i] %> <span class="item-delete">x</span></li>
        <% }; %>

    </script> -->

</body>
</html>