* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.common_box {
    margin: 0 auto;
    width: 500px;
}

.common_text {
    margin: 30px 0;
    text-align: center;
}

.common_test {

}

.common_list {

}

.list_item {
}

label {
    display: block;
}

.botton {

}