* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.list-item {
    list-style: none;
    margin: 10px 55px;
    cursor: pointer;
}

.item-delete {
    margin-left: 10px;
}

.item-edit {
    margin-left: 5px;
}

.save-changes {
    margin-left: 5px;
}
