* {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}

.box {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    height: 100px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Tahoma;
    color: white;
    background: green;
    text-align: center;
}


/* ДЛЯ CSS */

.css-box {
    left: 0;        /* НАДО ЯВНО УКАЗАТЬ КАКОЕ СВ-ВО БУДЕТ ИЗМЕНЯТЬСЯ (ДЛЯ transition) (left: 0; и так по умолчанию, но нужно явно), ОТНОСИТСЯ НЕ КО ВСЕМ СВ-АМ (НАПРИМЕР opacity УКАЗЫВАТЬ ЯВНО НЕ НУЖНО)*/
    transition: all 1s;
}

.css-box-animated {
    left: 52px;         /* ЭТО ТОЛЬКО НА ОДИН КЛИК, НА НЕСКОЛЬКО НАДО ВВОДИТЬ ЕЩЕ КЛАССЫ С УВЕЛИЧИННЫМ РАССТОЯНИЕМ, СТОЛЬКО СКОЛЬКО НУЖНО */
}